#horizontal_nav {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: #212121;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #ef5350;
}

#nav_links {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

#horizontal_nav a {
    font-family: 'Bitter', serif;
    text-decoration: none;
    padding: 0px 0px 0px 20px;
    color: #E0E0E0;
}

#button {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 4px;
    background-color: #424242;
    border: none;
    color: #E0E0E0;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button:hover{
    background-color: #616161;
    color: #E0E0E0;
}

body {
    font-family: 'Bitter', serif;
    background-color: #424242;
}

#input_link {
    padding-top: 10%;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

#input_field {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border-width: 5px;
    border-color: #ef5350;
    border-style: solid;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: 'Bitter', serif;
    color: #E0E0E0;
    padding: 5px;
    text-align: center;
}

input[type="text"] {
    background-color: #616161;
}

#input_field:hover {
    border-width: 5px;
    border-color: #1DE9B6;
    border-style: solid;
}

#form_button {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 4px;
    border-style: solid;
    border-color: #ef5350;
    background-color: #212121;
    color: #E0E0E0;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#form_button:hover {
    background-color: #616161;
}

#shortened_link {
    font-family: 'Bitter', serif;
    text-align: center;
    color: #E0E0E0;
    margin-top: 10%;
    font-size: 50px;
}


#shortened_link a {
    font-family: 'Bitter', serif;
    text-decoration: underline;
    color: #00B8D4;
}
